<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday {{receiver}}</title>
  </head>
  <body>
    <h3><center>Happy Birthday !!</center></h3>
    <h4><center>
      May you be gifted with life’s biggest joys<br />
      and never-ending bliss.<br />
      After all, you yourself are a gift to earth,<br />
      so you deserve the best.<br />
      Happy Birthday {{receiver}}</center>
    </h4>
    <h4><center>At last, you should also see <a href="https://pywisher.herokuapp.com/wish/{{sender}}/{{receiver}}">this.</center></a></h4>
    <p>
      <center>From {{sender}}</center>
    </p>
    <br />
    <p><center>A Sweet Wish From Team <a href="https://pywisher.herokuapp.com/">PyWisher</a>.</center></p>
  </body>
</html>
