<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday {{receiver}}</title>
</head>
<body>
    <div class="birthday-card">
    
        <img src="https://image.freepik.com/free-vector/surprise-theme-happy-birthday-card-illustration_1344-199.jpg"  alt="Birthday image">
        <h1>Happy Birthday {{receiver}}.<br> Have a great day ahead. </h1>
        
        <h2>from {{sender}}</h2>
        
      </div>
      
</body>
<style>
    body {
 margin: 0;
  padding: 16px;
  background-color: #512DA8;
}

.birthday-card {
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 24px 40px -8px #311B92;
}
.birthday-card img {
  width: 100%;
}

.source-link {
  text-align: center;
  color: #311B92;
  text-decoration: underline;
}

.source-link a {
  color: #311B92;
  text-decoration: none;
}

</style>
</html>